//- TOPページ INDEX.HTML

//- 階層設定
- var depth = './';

html(lang="ja")
    head 
        meta(charset = "utf-8")
        meta(name="viewport" content = "width=device-width, initial-scale=1"  )
        meta(description="株式会社エム・マーケティング　公式ホームページ")

        // CSSリンク
        
        link(href="#{depth}include/css/reset.css" rel="stylesheet")
        link(href="#{depth}include/css/header.css" rel="stylesheet")
        link(href="#{depth}include/css/topmain.css" rel="stylesheet")
        link(href="#{depth}include/css/linkbutton.css" rel="stylesheet")
        link(href="#{depth}include/css/contact.css" rel="stylesheet")
        link(href="https://mmark.co.jp/media/publicresources/css/publicstyle.css" rel="stylesheet")        
        link(href="#{depth}include/css/footer.css" rel="stylesheet")
        link(href="#{depth}include/css/publicstyle.css" rel="stylesheet")
        link(href="#{depth}include/css/topfv.css" rel="stylesheet")
        
        // ファビコン設定
        link(href="https://mmark.co.jp/media/publicresources/images/mmark_logo.svg" rel="icon" type="image/svg+xml")

        title 株式会社エム・マーケティング　公式ホームページ

        script(src="#{depth}include/js/jquery3.4.1.min.js")
    body

        div.top-hero#top-hero
            //- ヘッダ
            include include/jade/header.jade
            include include/jade/topfv.jade

        main
            include include/jade/topmain.jade
            include include/API/APICALLER_TOP.html


    //- フッター
    include include/jade/footer.jade