

include fadein.jade

.content-wrapper
    //- 事業案内
    section#business
        .inner
            .section-head.fadein
                h1 Business
                p.subtitle 事業案内
            .section-body
                //- 社会人向け教育事業
                section.subsection.fadein( id = "education")
                    .business-card
                        //- 事業のイメージ画像
                        .image-wrapper
                            figure 
                                img(src="#{depth}images/education.jpg" oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;" )
                        .text-wrapper
                            h2 社会人向け教育事業
                            p
                                |教えたい人と学びたい人とをつなげるプラットフォーム「MMビジネスアカデミー」を展開。
                                br
                                |著名人のビジネス講座を総合プロデュースします。 あなたの経営ノウハウをビジネス講座にして世の中に広めませんか？
                            a.link-button(href="#{depth}sublayers/mmba" target="_blank" rel="noopener noreferrer") 詳細はこちら

                //- 広告代理事業
                section.subsection.fadein( id = "ad" )
                    .business-card
                        //- 事業のイメージ画像
                        .image-wrapper
                            figure 
                                img(src="#{depth}images/ad.jpg" oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;" ) 
                        .text-wrapper
                            h2 広告代理事業
                            p
                                |SNS広告、リスティング広告運用代行
                                br
                                |LP制作から、集客コンサルティングまで「完全オーダーメイド」の広告運用を提供します。
                                br
                                small 完全紹介制のため特別なお客様のみへのご案内となっております。
                //- Youtubeプロデュース
                section.subsection.fadein( id = "youtube" )
                    .business-card
                        //- 事業のイメージ画像
                        .image-wrapper
                            figure 
                                img(src="#{depth}images/youtube.png" oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;" ) 
                        .text-wrapper
                            h2 YouTubeチャンネルプロデュース事業
                            p
                                |チャンネルの企画・初期運用・動画制作・集客チャネル化まで、お客様の様々な目的に則した形で提供させていただきます。※御相談を多くいただいておりますので、ご興味ある方はまずお問合せください。
                            a.link-button(href="https://mmark.co.jp/produce/" target="_blank" rel="noopener noreferrer") 詳細はこちら

    //- 会社情報
    section#company
        .inner
            .section-head.fadein
                h1 Company
                p.subtitle 会社情報

            .section-body

                //- 経営理念　サブセクション
                section#philosophies.subsection
                    .section-head.fadein
                        h2 Philosophies
                        p.subtitle 経営理念
                    .section-body.fadein
                        .inner
                            .section-unique-box
                                figure  
                                    //- MVV画像をここに挿入
                                    img(src="#{depth}images/mvv.svg", alt="")

                //- 代表メッセージサブセクション
                section#message.subsection  
                    .section-head.fadein
                        h2 Message
                        p.subtitle 代表メッセージ
                    .section-body.fadein
                        .inner
                            //- セクションユニークなコンテンツをここに挿入
                            .section-unique-box
                                .message-section-unique-box
                                    .image-wrapper
                                        figure.pc
                                            img(src="#{depth}images/about01.jpg")
                                        figure.sp
                                            img(src="#{depth}images/about01sp.jpg")
                                    .text-wrapper
                                        //- 代表メッセージ文は別ファイルに記載
                                        include mesasge.jade

                //- 会社概要サブセクション
                section#profile.subsection
                    .section-head.fadein
                        h2 Company Profile
                        p.subtitle 会社概要
                    .section-body.fadein
                        .inner 
                            .section-unique-box
                                .company-profile-unique-box
                                    //- 会社概要をまとめたテーブルは保守性確保のため別ファイルに記載
                                    include companyprofiletable.jade
                
                //- 数字で見るエムマーケティング　イントロ
                section#datis-intro.subsection
                    .section-head.fadein
                        h2 数字で見るエム・マーケティング
                        //- p.subtitle 会社概要
                    .section-body.fadein
                        .inner 
                            .section-unique-box
                                p 株式会社エム・マーケティングの様々な側面を数字で紹介します。
                                
                                .button
                                    a.link-button(href="#{depth}sublayers/datis" target="_blank" rel="noopener noreferrer") 詳しく見る

                //- アクセス
                section#access
                    .section-head.fadein
                        h1 Acecess
                        p.subtiel アクセス
                    .section-boyd.fadein
                        .inner
                            .section-unique-box 
                                .access-unique-box
                                    .table-wrapper
                                        table.default-table
                                            tr
                                                th 本社所在地
                                                td 〒102-0083
                                                    br
                                                    |東京都千代田区麹町3-2-9 麹町PREX5階
                                            tr
                                                th 交通
                                                td ■東京メトロ有楽町線「麹町駅」3番出口 徒歩1分
                                                    br
                                                    |■東京メトロ半蔵門線「半蔵門駅」6番出口 徒歩4分

                                    .map-wrapper
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.707154942809!2d139.73621331525885!3d35.684212080193575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d9a22bc55b1%3A0x3277cb162b44a9ef!2z5qCq5byP5Lya56S-44Ko44Og44O744Oe44O844Kx44OG44Kj44Oz44Kw!5e0!3m2!1sja!2sjp!4v1592474945979!5m2!1sja!2sjp" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                //- お問い合わせ
                section#contact
                    .section-head.fadein
                        h1 Contact
                        p.subtitle お問い合わせ
                    .section-body.fadein
                        .inner
                            .section-unique-box 
                                .contact-unique-box 
                                    include contact.html

                section#news.fadein
                    .section-head
                        h1 News
                    .section-body
                        .section-unique-box 
                            .news-unique-box    
                                .news-list
                                    include ../php/newsloader.php


