
-var depth = "../../../"

html(lang="ja")
    head 
        meta(charset = "utf-8")
        meta(name="viewport" content = "width=device-width, initial-scale=1"  )
        meta(description="株式会社エム・マーケティング　公式ホームページ")

        // CSSリンク
        
        link(href="#{depth}include/css/reset.css" rel="stylesheet")
        link(href="#{depth}include/css/header.css" rel="stylesheet")
        link(href="#{depth}include/css/topmain.css" rel="stylesheet")
        link(href="#{depth}include/css/linkbutton.css" rel="stylesheet")
        link(href="#{depth}include/css/contact.css" rel="stylesheet")
        link(href="https://mmark.co.jp/media/publicresources/css/publicstyle.css" rel="stylesheet")        
        link(href="#{depth}include/css/footer.css" rel="stylesheet")
        link(href="#{depth}include/css/publicstyle.css" rel="stylesheet")
        //- link(href="#{depth}include/css/topfv.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
        
        // ファビコン設定
        link(href="https://mmark.co.jp/media/publicresources/images/mmark_logo.svg" rel="icon" type="image/svg+xml")

        title ビジネス講座詳細｜株式会社エム・マーケティング　公式ホームページ

        script(src="#{depth}include/js/jquery3.4.1.min.js")
    body
        
        //- ヘッダ
        include ../../../include/jade/header.jade
        - var section_name = "MMBA_DEATIL"
        - var section_title = "ビジネス講座詳細"
        include ../../subinclude/jade/sublyaertemplates.jade

        main
            p.center MMBAではお客さまの悩みを解決する
                br
                | 様々なビジネス講座を提供しています。
                br
                | ここではMMBAで提供している講座の
                br
                | 詳細な仕様をお伝えします。

            section.section
                .inner-contents
                    h1.h1 提供講座ジャンル
                
                    p 時期により提供講座が異なります。詳しくはお問い合わせください。

            section.section
                .inner-contents

                    h1.h1 開催期間
                

                    dl
                        dt 本講座
                        dd 6ヶ月間
                    dl
                        dt サポート期間
                        dd 本講座開始より12ヶ月間
                    dl
                        dt 販売説明会
                        dd 本講座開始前に約2ヶ月間開催


                    p 例）4月に本講座が開催される場合
                    
                    figure
                        img(src="images/fig1.svg", alt="")

            section.section
                .inner-contents

                    h1.h1 講座価格

                    dl 
                        dt 本講座
                        dd 年間 600,000円〜3,000,000円
                            br
                            small  ※ 講座よっては年間のコンサルティングが含まれます。

                    dl
                        dt 販売説明会
                        dd 各回 0円〜3,000円
            
            section.section
                .inner-contents
                    h1.h1 お問い合わせ
                    include ../../../include/jade/contact.html
                    include ../../../include/API/APICALLER_MMBA.html

        //- フッター
        include ../../../include/jade/footer.jade


        //- SATORIの計測タグを設置
        include ../../../include/js/satori.js
